---
import LangToggle from '../../components/LangToggle';
import Header from '../../components/layout/Header.astro';
import Footer from '../../components/layout/Footer.astro';
import ThemeToggle from '../../components/ThemeToggle';
import { DEFAULT_LANG, type Lang } from '../../models/lang';
import '../../styles/font.css';
import '../../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="trietng's personal website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script is:inline>
			// Theme
			// Toggle theme
			document.documentElement.classList.toggle('dark', localStorage.getItem('theme') === 'dark');
		</script>
	</head>
	</script>
	<body class="flex flex-col min-h-screen antialiased bg-amber-100 dark:bg-neutral-800 text-amber-900 dark:text-white">
		<Header>
			<LangToggle client:load pathname={Astro.url.pathname} lang={(Astro.currentLocale || DEFAULT_LANG) as Lang} />
			<ThemeToggle client:load/>
		</Header>
		<main class='flex-grow my-4'>
			<slot />
		</main>
		<Footer/>
	</body>
</html>