* {
    box-sizing: border-box;
    font-family: ubuntu;
}

body {
    margin: 0;
    padding: 0;
}

.title {
    height: 50px;
    margin: 20px;
}

.title a {
    display: block;
    text-decoration: none;
    font-size: 3em;
    color: black;
}

.navbar {
    background-color: seagreen;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: block;
}

.navbar ul:first-child {
    padding-inline-start: 20px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    display: block;
    line-height: 3em;
    padding-inline: 1em;
}

.navbar li a:hover {
    background-color: darkseagreen;
}

@media (pointer: coarse) and (hover: none) {
    .title {
        margin-block-end: 35px;
    }
    .title a {
        font-size: 2em;
    }
    .navbar li {
        display: block;
    }
    .navbar li a {
        padding-inline: 1.2em;
    }
    .navbar ul {
        flex-direction: column;
    }
    .navbar ul:first-child {
        padding-inline-start: 0;
    }
}