* {
    box-sizing: border-box;
    font-family: ubuntu;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin-inline: 1em;
}

footer {
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color: seagreen;
}

.title {
    height: 50px;
    margin: 20px;
}

.title a {
    display: block;
    text-decoration: none;
    font-size: 3em;
    color: black;
}

.navbar {
    background-color: seagreen;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: block;
}

.navbar ul:first-child {
    padding-inline-start: 20px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    display: block;
    line-height: 3em;
    padding-inline: 1em;
}

.navbar li a:hover {
    background-color: darkseagreen;
}

.cardmenu {
    margin-block-start: 1em;
    padding-inline-start: 1em;
    list-style: none;
    display: flex;
}

.card {
    height: 128px;
    width: 128px;
    border: 1px solid seagreen;
    margin-inline-end: 1em;
    margin-block-end: 1em;
}

.card a {
    text-decoration: none;
}

.card img {
    display: block;
    margin-inline: 32px;
    margin-block: 8px;
    height: 64px;
    width: 64px;
    border: 1px solid seagreen;
}

.card div {
    display: block;
    margin-inline: 32px;
    margin-block: 12px;
    color: seagreen;
}

@media (pointer: coarse) {
    .title {
        margin-block-end: 35px;
    }
    .title a {
        font-size: 2em;
    }
    .navbar li {
        display: block;
    }
    .navbar li a {
        padding-inline: 1.2em;
    }
    .navbar ul {
        flex-direction: column;
    }
    .navbar ul:first-child {
        padding-inline-start: 0;
    }
}