---
interface Props {
    datetime: string;
    translations: Record<string, string>;
}

const { datetime, translations } = Astro.props;

const temp = new Date(datetime);
const month = temp.toLocaleString(Astro.currentLocale, { month: 'long' });
const year = temp.getFullYear();
---
{
    datetime !== '' ?
    <div class="w-full text-center">
        <div class="bg-red-500 text-white py-1 rounded-t-md">{year}</div>
        <div class="bg-amber-50 text-amber-900 dark:bg-white dark:text-black py-1 rounded-b-md">{month}</div>
    </div> :
    <div class="w-full text-center py-2 rounded-md bg-amber-50 dark:bg-white dark:text-black">
        <div>&nbsp;</div>
        <div class="relative top-1/2 -translate-y-1/2">{translations.present}</div>
    </div>
}