---
import { ClockIcon } from "@heroicons/react/24/solid";

interface Props {
    datetime: string;
}

const { datetime } = Astro.props;
const temp = new Date(datetime);
const month = temp.toLocaleString(Astro.currentLocale, { month: 'long' });
const year = temp.getFullYear();
---
<div class="w-full text-center">
    <div class="bg-red-500 text-white py-1 rounded-t-md">{year}</div>
    <div class="bg-amber-50 text-amber-900 dark:bg-white dark:text-black py-1 rounded-b-md">{month}</div>
</div>