---
import Layout from './base/Layout.astro';

const { frontmatter } = Astro.props;
---
<Layout title="trietng">
    <div class="container px-4 md:px-8">
        <div class="font-bold text-6xl break-words">{frontmatter.title.greeting}</div>
        <div class="font-bold text-6xl break-words">{frontmatter.title.name}</div>
        <div class="mt-4 text-lg break-words">{frontmatter.summary}</div>
    </div>
</Layout>